<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="intrusion_detection" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\FlaskTest\intrusion_detection_system\intrusion\Scripts\python.exe|C:\FlaskTest\intrusion_detection_system\intrusion\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="FlaskIntrusion" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\FlaskTest\intrusion_detection_system\intrusion\Scripts\python.exe|C:\FlaskTest\intrusion_detection_system\intrusion\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
